@charset "utf-8";

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #ffffff;
}
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}
  
.nav-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    height: calc(100svh 80px 0);
}
/*  Hero Banner */
.hero-banner-main {
    height: 650px;
    background: #fff url(../img/hero\ banner) center center / cover no-repeat;
    text-align: center;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        padding: 190px 0 20px 0;
    }

    h2 {
        color: #fff;
        font-size: 30px;
    }

    p {
        color: #fff;
        margin-top: 10px;
        font-size: 22px;
    }
} 

/*---------------------*/
/*      About me       */
/*---------------------*/

.text-container {
    text-align: center;
    padding-left: 20px;
    margin-right: 120px;

    h4 {
        font-size: 40px;
        margin-top: 40px;
    }

    p {
        font-size: 22px;
        margin: auto;
    }
}

.image-text-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px 20px;

    h3 {
        color: #000;
        font-size: 50px;
    }
    p {
        color: #000;
    }
}
  
.image-container img {
    max-width: 60%;
    height: auto;
    padding: 80px 100px;
}
